<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>⚡️FlashVPS Console</title>
    <link href="/static/img/favicon.png" rel="icon" type="image/png">
    <link href="/static/css/xterm.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/fullscreen.min.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="waiter" style="display: none"> Connecting ... </div>

    <div class="container form-container" style="display: none">
      <form id="connect" action="" method="post" enctype="multipart/form-data"{% if debug %} novalidate{% end %}>
        <input type="hidden" id="term" name="term" value="xterm-256color">
        {% module xsrf_form_html() %}
      </form>
    </div>

    <div class="container">
      <div id="status" style="color: red;"></div>
      <div id="terminal"></div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/xterm.min.js"></script>
    <script src="/static/js/xterm-addon-fit.min.js"></script>
    <script src="/static/js/main.js?id=20221202"></script>
  </body>
</html>
